{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Öffnungszeiten</h2>
            </div>



            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row">

                <div class="col-md-6 col-sm-6">
<img src="{{ .Site.BaseURL}}/img/frontpage.png" class="img-responsive" alt="" >
                    <!-- /.box-image-text -->

                </div>
<!-- MAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMA -->
<!-- MAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMA -->
<!-- MAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMA
      Kommentare vor/nach Öffnungszeiten entfernen --> 
                <div class="col-md-6 col-sm-6">
            <p class="lead">
  <!--  Aktuelle Öffnungszeiten:
            </p>
        <p class="text-large">  23. August 2018  </p>
        <p class="text-large">  23. August 2018    </p>
        <p class="text-large">  23. August 2018    </p>
        <p class="lead">&nbsp;</p>

         -->

                </div>
<!-- MAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMA -->
<!-- MAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMA -->
<!-- MAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMAMA -->

             <div class="col-md-6 col-sm-6">
            <p class="lead">
  


                  <h3> geöffnet: </h3>
            <p class="lead">
              <b>Freitag, 17.5.2019,</b>17-19 Uhr <br>
              <b>Freitag, 21.6.2019,</b>17-19 Uhr </p>
               <p class="lead">   und</p> 
             <p class="lead"> jeden <b>3. Freitag</b> im Monat, <b>17-19 Uhr</b></p><br>
       
              <p class="lead">Bei Bedarf weitere Öffnungen! Bitte kontaktieren Sie uns per Mail oder SMS! </p>
            
                  </p>
                  <h3> Nächster Vortrag: </h3>
              <p class="lead"> DI Dr. Friedrich Faustmann, "Geschichte der Informatik", <br>
              <b>Freitag, 7.6.2019,</b>18:30 Uhr
              <p class="lead">um Anmeldung wird gebeten: +436763851749 oder erlebnis-mathematik@gmx.at</p>
</div>

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
