{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Vorschau</h2>
            </div>

              <h3> Freitag, 17. Jänner 2020, 18:30</h3>
          <p class="lead"> "Mathematik in der Energiewirtschaft - Rückblick, Status, Ausblick", DI Dr. Gerold Petritsch</p>

          <h3> Freitag, 20. März 2020, 18:30</h3>
      <p class="lead"> "Die Mathematik der Mondlandung", Prof. Dr. Michael Feischl</p>

</div>


            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
