{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Vorschau</h2>
            </div>

              <h3> Freitag, 30. August 2019, 18:30</h3>
          <p class="lead"> "Wie das Dezimalsystem nach Europa kam", DI Dr. Markus Faustmann</p>

          <h3> Donnerstag, 21. November 2019, 18:30 und</h3>
	  <h3> Freitag, 22. November 2019, 18:30</h3>
      <p class="lead"> "Musik, Mathematik, Harmonik - auch unter kreativem Aspekt", Prof. Dr. Werner Schulze</p>

              <h3> Freitag im Jänner 2020, 18:30 (wird bald bekanntgegeben)</h3>
          <p class="lead"> "Mathematik in der Energiewirtschaft - Rückblick, Status, Ausblick", DI Dr. Gerold Petritsch</p>


</div>


            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->
            
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
